@font-face{
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face{
    font-family: poppins-black;
    src: url(../fonts/Poppins/Poppins-Black.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-family: "poppins-black";
}
p,a{
    font-family: "poppins";
}
.banner{
    height: 60vh;
    width: 90%;
    margin: auto;
    background: url(../img/banner/2.jpg);
    background-size: cover;
    background-position: center;
}
#about-intro{
width: 90%;
margin: 20px auto;
padding: 20px 0;
display: flex;
box-sizing: border-box;
}
#about-intro .title{
    margin-right: 20px;
    font-size: 2.1em;
    writing-mode: vertical-lr;
    border-left: 2px solid #f1f1f1;
    display: block;
    text-transform: capitalize;
}
#about-intro p{
    line-height: 1.3em;
    font-size: 1.3em;
    font-family: rale;
    margin:  20px 10px;
    width: 80%;
}

@media screen and (max-width:768px) {
    .banner{
        height: 50vh;
        width: 100%;
        margin: auto;
        background: url(../img/banner/2.jpg);
        background-size: cover;
        background-position: center;
    }
    #about-intro{
        width: 90%;
        margin: 20px auto;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        }
        #about-intro .title{
            margin-right: 20px;
            font-size: 2.1em;
            writing-mode:horizontal-tb;
            /* border-left: 2px solid #f1f1f1; */
            display: block;
            text-transform: capitalize;
        }
        #about-intro p{
            line-height: 1.3em;
            font-size: 1.3em;
            font-family: rale;
            margin: 15px 0px;
            width: 100%;
        }
}