h3{
    font-family: heading;
    text-transform: capitalize;
}
#header{
  padding: 50px 100px; 
  box-sizing: border-box; 
  /* background: linear-gradient(to bottom, rgba(0,0,255,.3), rgba(0,0,255,.4)); */
  color: #000;
  background: #f1f1f1;
  /* display: none; */
}
#header p{
    line-height: 1.5em;
    font-size: 1.3em;
    width: 60%;
    box-sizing: border-box;
  }

  main{
    /* width: 90%; */
    /* margin: auto; */
    /* background: pink; */
    box-sizing: border-box;
  }

  .items-nav{
    width: 100%;
    /* height: 50px; */
    padding: 20px;
    box-sizing: border-box;
  }

  .items-nav ul li{
    list-style: none;
    padding: 10px;
    margin-right: 10px;
    float: left;
  }
.items-nav ul li a{
  color: #000;
  font-weight: bolder;
  text-decoration: none;
}

.items-nav ul li.active a {
  color: orange;
}
.gallery-imgs{
  padding: 10px;
}
.gallery-imgs ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  overflow: hidden;
}
.gallery-imgs ul li {
  list-style: none;
  width: 98%;
  height: 400px;
  margin: 5px auto;
  background: firebrick;
  overflow: hidden;
  transition: 0.5s;
}
.gallery-imgs ul li img{
  width: 100%;
  height: 100%;
}



@media screen and (max-width:768px) {
  #header{
    padding: 10px; 
    box-sizing: border-box; 
    /* background: linear-gradient(to bottom, rgba(0,0,255,.3), rgba(0,0,255,.4)); */
    color: #000;
    background: #f1f1f1;
  }
  #header p{
    width: 100%;
  }
  .items-nav{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    /* height: 50px; */
    padding: 20px;
    box-sizing: border-box;
  }
  .gallery-imgs ul {
    display: flex;
    flex-direction: column;
  }
  .gallery-imgs ul li {
    list-style: none;
    width: 98%;
    height: 300px;
    overflow: hidden;
    transition: 0.5s;
  }
}