.banner{
    height: 60vh;
    width: 90%;
    margin: auto;
    background: url(../img/banner/1.jpg);
    background-size: cover;
    background-position: center;
}
h3{
    text-transform: capitalize;
}
#investment-intro{
    padding: 10px;
    display: flex;
    width: 90%;
    margin: 100px auto auto auto;
}
#investment-intro h3{
    margin-right: 20px;
    font-size: 2.1em;
    writing-mode: vertical-lr;
    border-left: 2px solid #f1f1f1;
    display: block;
}
#investment-intro p{
    width: 100%;
    padding: 10px;
    line-height: 1.6em;
    font-size: 1.3em;
}
.investment-info{
    width: 90%;
    margin: 100px auto;
}
.investment-info .info{
    display: flex;
}